@import url('https://rsms.me/inter/inter.css');
:root {
  --light-gray-bg: #3a3a3a;
  --hard-gray: #332c2c;
  --white: #fff;
  --light-blue: #2eaadc;
  --purple-select-bg: #2b2479;
  --cyan-select-bg: #007d8a;
  --black-bg: #191919;
  --black-variant: #202020;
  --TODO-green: #287e09;
  --TODO-yellow: #8a8d00;
  --TODO-red: #7e0909;
}

body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  width: 100%;
  font-family: 'Inter';
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
